body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-container {
    width: 90%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.question-section {
    padding: 20px;
}

.question-count {
    margin-bottom: 20px;
}

.question-text {
    margin-bottom: 20px;
    font-size: 1.2em;
}

.answer-section button {
    width: 100%;
    padding: 10px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    background-color: #f7f7f7;
    cursor: pointer;
    font-size: 1em;
}

.answer-section button:hover {
    background-color: #dedede;
}

/* Estilos para o botão de reiniciar */
.restart-button {
    background-color: #4CAF50; /* Cor de fundo verde */
    color: white; /* Texto branco */
    padding: 15px 30px;
    margin: 30px auto; /* Centraliza o botão */
    display: block; /* Faz o botão se comportar como um bloco para permitir a centralização */
    border: none;
    border-radius: 25px; /* Borda arredondada */
    cursor: pointer;
    font-size: 1.1em;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: background-color 0.3s, box-shadow 0.3s; /* Transição suave para hover e sombra */
}

.restart-button:hover {
    background-color: #45a049; /* Cor um pouco mais escura ao passar o mouse */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Sombra mais proeminente ao passar o mouse */
}

/* Estilização do texto do resultado */
.result-text {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px;
}

/* Estilização do título do final do jogo */
.end-title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;
}


/* Estilos para dispositivos com largura menor que 600px (celulares em retrato) */
@media only screen and (max-width: 600px) {
    .game-container {
        width: 100%;
        max-width: 100%;
        margin: 10px;
        box-shadow: none;
    }

    .question-section, .answer-section button, .end-title, .result-text {
        padding: 10px;
        font-size: 0.9em;
    }
}

/* Estilos para dispositivos com largura entre 601px e 900px (tablets em retrato) */
@media only screen and (min-width: 601px) and (max-width: 900px) {
    .game-container {
        width: 80%;
        margin: 20px;
    }

    .question-section, .answer-section button, .end-title, .result-text {
        padding: 15px;
        font-size: 1em;
    }
}

/* Estilos para dispositivos com largura entre 901px e 1200px (tablets em paisagem) */
@media only screen and (min-width: 901px) and (max-width: 1200px) {
    .game-container {
        width: 70%;
        margin: 30px;
    }

    .question-section, .answer-section button, .end-title, .result-text {
        padding: 20px;
        font-size: 1.1em;
    }
}

/* Estilos para dispositivos com largura maior que 1201px (desktops) */
@media only screen and (min-width: 1201px) {
    .game-container {
        width: 60%;
        margin: 40px;
    }

    .question-section, .answer-section button, .end-title, .result-text {
        padding: 25px;
        font-size: 1.2em;
    }
}